In [27]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import re
import json
import warnings
warnings.filterwarnings("ignore")

In [28]:
df=pd.read_csv("data/master_dataset_1700-2021.csv")
df.head()

,Year,Country,Population,Life Expectancy Years,GDP (income per capita),Fertility Rate,Child Motality 0-5 YO,Education (female 15-44),Contraceptive Use percent,Education (yrs based on index)
0,1799,Bangladesh,19200000,25.5,876,6.7,508.0,NaN,NaN,NaN
1,1800,Bangladesh,19200000,25.5,876,6.7,508.0,NaN,NaN,NaN
2,1801,Bangladesh,19300000,25.5,876,6.7,508.0,NaN,NaN,NaN
3,1802,Bangladesh,19300000,25.5,876,6.7,508.0,NaN,NaN,NaN
4,1803,Bangladesh,19300000,25.5,876,6.7,508.0,NaN,NaN,NaN

In [22]:
# df2=df.drop(['Life Expectancy Years', 'GDP (income per capita)', 'Fertility Rate', 'Child Motality 0-5 YO', 'Contraceptive Use percent', 'Education (yrs based on index)'],axis=1, inplace=True)

In [32]:
x=df.iloc[:,0].values.reshape(-1,1)
y=df.iloc[:,2].values.reshape(-1,1)
model=LinearRegression().fit(x,y)
y_pred=model.predict([[2022]])
y_pred

array([[2.52020433e+08]])

In [35]:
def main():
    country = ("Please input the country name: ").lower()
    year = int(input("Please input the year to predict: "))
    df=pd.read_csv("data/master_dataset_1700-2021.csv")
    lists, df = country_list_gen(df)
    if country in lists:
        df = selecting_country(df, country)

In [33]:
def prediction_model(df):
    x=df.iloc[:,0].values.reshape(-1,1)
    y=df.iloc[:,2].values.reshape(-1,1)
    model=LinearRegression().fit(x,y)
    return model

In [34]:
def prediction(model, year):
    return int(model.coef_[0][0] * year + model.intercept_[0])